types-orjson
types-PyYAML

coverage
hypothesis
mypy
pytest
pytest-xdist
black
isort
pycln
jellyfish

valkey
rich

protobuf

# different storage providers
google-cloud-storage
minio
openpyxl

setuptools_rust

pydantic==2.13.0
